.brand {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}
.brand:before {
  background-size: 100% 100%;
  content: "..coding!";
  line-height: 205px;
  color: black;
  font-size: 20px;
  font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  z-index: 9999;
}
.logo {
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}
svg path {
  fill: none;
  stroke-width: 2;
  top: 0;
  left: 0;
  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  animation: 4s linear infinite;
}
.logo svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: 0.5s;
}
.logo svg path:nth-child(2) {
  opacity: 0.5;
  animation-name: rotate-2;
  animation-delay: 0.6s;
}
.logo svg path:nth-child(3) {
  opacity: 0.8;
  animation-name: rotate-3;
  animation-delay: 0.7s;
}
@keyframes scale-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate-0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 5px #000;
  padding: 0.1rem;
}
header,
footer {
  background-color: black;
}
h1 {
  margin: 0.5rem;
}
header a {
  color: white;
}
input[type="checkbox"] {
  display: none;
}

nav ul {
  float: right;
  margin-right: 1.25em;
}
nav ul li {
  display: inline-block;
  padding-right: 1rem;
}
nav ul li > *:hover {
  color: white;
  border-bottom: solid 1px #fff;
  font-size: 1.1em;
}
body {
  margin: 0 auto;
}
.presentacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.presentacion img {
  margin: auto;
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  border: 1px solid black;
}
.presentacion > div {
  width: 60%;
  padding: 1.5rem;
}
.resume {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.resume > div:first-child {
  width: 80%;
  padding: 25px;
}
h2 {
  margin-top: 3.5rem;
  text-align: center;
}
.portafolio > h2 {
  background-color: white;
}
.tecnologias {
  display: flex;
  flex-direction: row;
  margin: 3rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
}
.tecnologias img {
  background-color: blue;
  width: 60px;
  height: 60px;
  margin: auto;
  padding: 1rem;
  border: #000 1px solid;
}
.portafolio {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  background-image: url("/images/coding.avif");
  background: rgba(0, 0, 0, 0.7) url("/images/coding.avif");
  background-blend-mode: luminosity;
  width: 100%;
  height: auto;
  margin: 0s;
}
.portafolio > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  background-color: semi-transparent;
}
.portafolio-item {
  margin: 0.5rem;
  padding: 1rem;
  background-color: white;
  width: 30%;
}
.portafolio > div > div > div a {
  text-align: right;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30%;
}
.portafolio img {
  background-color: #f5f5f5;
  width: 150px;
  height: 150px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}
footer a {
  color: black;
  margin: 0 0.5em;
}
.blog {
  height: 100vh;
  display: flex;
}

.blog aside {
  width: 20%;
  background-color: silver;
  padding: 1rem;
  padding-top: 3rem;
  align-items: center;
}

.blog-item {
  min-width: 80%;
}
.blog div {
  background-color: orange;
  max-height: 100vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  padding: 1rem;
  width: 100%;
  background-color: lightgray;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5em;
}
.contacto h2 {
  margin-top: 2rem;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 0.5em;
}
.contacto form div {
  margin: 0.5em;
}
.boton {
  justify-content: right;
}
.contacto label {
  width: 60px;
}
.contacto > div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  margin: 10px 10px;
}
.contacto > div > div {
  width: 30%;
}
footer {
  color: white;
  padding: 0.1em;
  margin: 0.1em 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}
footer img {
  width: 1.5rem;
  height: auto;
  margin-top: 0.4rem;
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .presentacion img {
    width: 12.625em;
    height: 12.625em;
  }
  .presentacion div {
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    align-items: end;
    margin-right: 1rem;
    width: 70%;
  }
  .presentacion {
    padding: 1.5rem 1.5rem;
  }
  .tecnologias {
    width: 90%;
  }
  .portafolio-item {
    width: 45%;
  }
  .contacto > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
    margin: 0.4rem 0.4rem;
  }
  .contacto > div > div {
    width: 100%;
  }
  .boton {
    justify-content: right;
  }
  form div:last-child {
    width: 15rem;
    padding-left: 9rem;
  }
  .picture {
    width: 10%;
    height: auto;
    background-color: orange;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 3rem;
  }
  .presentacion > div {
    padding: 1px;
  }
  .presentacion > img {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .brand {
    display: none;
  }
  .presentacion > div > p:first-child {
    margin-top: 5rem;
    background-color: orange;
  }
  .portafolio > h2 {
    margin: 2.5rem 1rem 0.5rem;
    background-color: white;
  }
  .portafolio > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0s;
    justify-content: center;
  }
  .portafolio > div > div {
    margin: 0.5rem 1.5rem;
    padding: 1rem;
    background-color: white;
    width: 85%;
  }
  .contacto {
    padding: 0.1rem;
    margin: 1rem;
  }
  .contacto h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .contacto p {
    font-size: small;
  }
  .contacto > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
    margin: 0.4rem 0.4rem;
  }
  .contacto form div {
    margin: 0.15em;
  }
  .contacto > div > div {
    width: 100%;
  }
  .menu-horizontal-items {
    display: none;
  }
  input:checked ~ ul {
    display: block;
  }
  .checkbtn {
    display: block;
    float: right;
    margin-right: 1.25em;
    line-height: 30px;
  }
  label {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover {
    background: yellow;
  }
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: lightgrey;
  }
  nav ul {
    position: fixed;
    padding: 0;
    min-width: 35%;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 1em;
    padding: 0;
    list-style: none;
  }
  .close-menu {
    left: -33%;
    font-size: 5px;
    font: white;
    margin-left: 5rem;
  }
  .open-menu {
    background-color: darkgray;
    left: 0px;
    font-size: 16px;
    margin-top: 14px;
  }
  header {
    background-color: white;
  }
  ul li a:hover {
    transition: 0s;
    background-color: silver;
  }
  .resume div:first-child {
    width: 100%;
    padding: 0;
  }
  .tecnologias {
    margin-top: 0.5rem;
  }
  .tecnologias img {
    margin: 0.3em;
  }
  .form-group {
    padding-left: 3rem;
  }
}
